<div class="sidebar text-center">
  <img
    src="../../../../assets/img/undraw_video_game_night_8h8m.svg"
    width="120"
  />
  <div style="text-align: center; font-size: 1em;">
    Welcome to Spring Gamestalk home page. Come here to check in with your
    favorite games topics.
  </div>
  <div style="text-align: center;">
    <button class="btnCreatePost" (click)="goToCreatePost()">
      Create Post
    </button>
  </div>
  <div style="text-align: center;">
    <button class="btnCreateTopic" (click)="goToCreateTopic()">
      Create Topic
    </button>
  </div>
</div>
