<div class="gamestalk-body">
  <div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <div>
          <h2>Test login account for demonstration purposes:</h2>
          <p>User name: gamestalk</p>
          <p>Password: 123</p>
        </div>
        <app-post-tile [posts]="posts"></app-post-tile>
      </div>
      <div class="col-md-3">
        <app-side-bar></app-side-bar>
        <app-topic-side-bar></app-topic-side-bar>
      </div>
    </div>
  </div>
</div>
